.title {
  text-align: center;
  margin: 0;
  letter-spacing: 0.1em;
}

.subtitle {
  text-align: center;
  font-weight: bold;
  color: #43a1e8;
  margin: 0.5rem auto;
}
.wrapper {
  padding: 2rem 0 1rem 0;
}

.header {
  height: 1rem;
  background-color: #43a1e8;
}

.icon {
  text-align: center;
  margin: auto;
}

.container {
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .title {
    text-align: center;
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 1.2em;
  }
}
